<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body> 

<!-- 			nombre del proyecto  controller  -->
 	<form action="/spring_mvc_spa_s/clientes" method="post"> 
 	 	
 	 	
 	 	<div> 
 	 	 	<label for="id">Código</label>  
<input type="number" name="id" id="id"> 
 	 	</div> 
 	 	
 	 	
 	 	<div> 
 	 	 	<label for="nombre">Nombre</label>  
<input type="text" name="nombre" id="nombre"> 
 	 	</div> 
 	 	<div> 
 	 	 	<label for="correo">Correo</label> 
 <input type="email" name="correo" id="correo"> 
 	 	</div> 
 	 	<div> 
 	 	 	<input type="submit" value="Enviar"> 
 	 	</div> 
 	</form> 
</body> 

</html>