<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style type="text/css">

td{
border: solid 1px black;
}
th{
border: solid 1px black;
}

</style>


</head>
<body>

		
		<table style="width: 100%">
		
		<thead>
<!-- 		filas -->
		<tr>
<!-- 		columna del titulo -->
		<th>Descripción</th>
		<th>Precio</th>
		<th>Cantidad</th>
		<th>Fecha Vencimiento</th>
		<th>Eliminar</th>
		<th>Editar</th>
		
		</tr>  
		
		
		</thead>
		
		<tbody>
		
		<tr>
		
		<td>descripcion</td>
		<td>cantidad</td>
		<td>precio</td>
		<td>fechaVencimiento</td>
		<td>imagen</td>
		<td>imagen</td>
		
		</tr>
		
		
		</tbody>
		
		
		<tfoot></tfoot>
		
		
		
		
		</table>









</body>
</html>